/* Home */

.home-navigation {
    background-color: #d80032;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.home-nav-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}
@media screen and (max-width: 650px) {
    .home-nav-items {
        grid-template-columns: repeat(1, 1fr);
    }
}
.home-nav-items a {
    text-decoration: none;
    font-weight: 700;
}
.home-nav-item {
    background-color: #ef233c;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 10%;
    align-items: center;
    cursor: pointer;
    height: 150px;
    transition: 0.3s ease-in-out;
    border: 1px solid #f68896;
}
.home-nav-item:hover {
    transform: translateY(-8px);
    border: 1px solid #f4f4f4;
}
.home-nav-item i {
    color: #f4f4f4;
    font-size: 5em;
}
@media screen and (max-width: 968px) {
    .home-nav-item i {
        font-size: 4em;
    }
}
@media screen and (max-width: 780px) {
    .home-nav-item i {
        font-size: 3em;
    }
    .home-nav-item p {
        font-size: 1.2em !important;
    }
}
.home-nav-item h1 {
    font-size: 2em;
    color: #f4f4f4;
    text-align: right;
    font-weight: 700;
}
.home-nav-item p {
    color: #f4f4f4;
    text-align: right;
    font-size: 1.4em;
}

/* Students */

.add-students {
   background-color: #d80032;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add-students-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.view-all-students-nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    border-radius: 15px;
    padding: 2px 10px;
}
.view-all-students-nav a:hover {
    background-color: #ef233c;
}
.add-students-nav h1, .add-students-nav a, .add-students-nav i {
    color: #f4f4f4;
    font-size: 1em;
}
#student-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#student-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
#student-form fieldset label {
    color: #f4f4f4;
    font-weight: 700;
}
#student-form fieldset input {
    color: #f4f4f4;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: #ef233c;
    border: 1px solid #f68896;
    border-radius: 15px;
 }
#student-form fieldset:last-child input {
    cursor: pointer;
}
.student-form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
@media screen and (max-width: 985px) {
    .student-form-content {
        flex-direction: column;
        justify-content: unset;
    }
}
.student-form-content fieldset input:focus, .student-form-content form fieldset textarea:focus {
    outline: 1px solid #f4f4f4;
}
#student-submit-btn {
    background-color: #ef233c;
    color: #f4f4f4;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border: 1px solid #f68896;
}
#student-submit-btn:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease;
    border: 1px solid #f4f4f4;
}
.students-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.students-table-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.students-table-nav h1 {
    font-size: 1em;
}
.students-table-nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.students-table-nav button i {
    color: #f4f4f4;
    font-size: 1em;
}
.students-table-container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
}
.students-table-container th, .students-table-container td {
    text-align: left;
    padding: 8px;
    font-weight: 500;
}
.students-table-container th {
    background-color: #d80032;
    color: #f4f4f4;
    font-weight: 700;
}
.students-table-container tr:nth-child(even) {
    background-color: #d80032;
}
.students-table-container tr:nth-child(odd) {
    background-color: #ef233c;
}

/* Courses */

.add-courses {
    background-color: #d80032;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add-courses-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.update-courses-nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 15px;
    width: fit-content;
}
.update-courses-nav a:hover {
    background-color: #ef233c;
}
.view-all-courses-nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 15px;
}
.view-all-courses-nav a:hover {
    background-color: #ef233c;
}
.add-courses-nav h1, .add-courses-nav a, .add-courses-nav i, .update-courses-nav h1, .update-courses-nav a, .update-courses-nav i {
    color: #f4f4f4;
    font-size: 1em;
}
#course-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#course-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
#course-form fieldset label {
    color: #f4f4f4;
    font-weight: 700;
}
#course-form fieldset input {
    color: #f4f4f4;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: #ef233c;
    border: 1px solid #f68896;
    border-radius: 15px;
}
.course-form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.course-form-content fieldset input:focus, .course-form-content form fieldset textarea:focus {
    outline: 1px solid #f4f4f4;
}
#course-submit-btn {
    background-color: #ef233c;
    color: #f4f4f4;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border: 1px solid #f68896;
}
#course-submit-btn:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease;
    border: 1px solid #f4f4f4;
}
.courses-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.courses-table-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.courses-table-nav h1 {
    font-size: 1em;
}
.courses-table-nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.courses-table-nav button i {
    color: #f4f4f4;
    font-size: 1em;
}
.courses-table-container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
}
.courses-table-container th, .courses-table-container td {
    text-align: left;
    padding: 8px;
    font-weight: 500;
}
.courses-table-container th {
    background-color: #d80032;
    color: #f4f4f4;
    font-weight: 700;
}
.courses-table-container tr:nth-child(even) {
    background-color: #d80032;
}
.courses-table-container tr:nth-child(odd) {
    background-color: #ef233c;
}
@media screen and (max-width: 720px) {
    .course-form-content {
        flex-direction: column;
        justify-content: unset;
    }
}

/* Results */

.add-results {
    background-color: #d80032;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add-results-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.view-all-results-nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 15px;
}
.add-results-nav h1, .add-results-nav a, .add-results-nav i {
    color: #f4f4f4;
    font-size: 1em;
}
#result-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#result-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
#result-form fieldset label {
    color: #f4f4f4;
    font-weight: 700;
}
#result-form fieldset select {
    color: #f4f4f4;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: #ef233c;
    border: 1px solid #f68896;
    border-radius: 15px;
    cursor: pointer;
}
.result-form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.result-form-content fieldset select:focus, .result-form-content form fieldset textarea:focus {
    outline: 1px solid #f4f4f4;
}
#result-submit-btn {
    background-color: #ef233c;
    color: #f4f4f4;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border: 1px solid #f68896;
}
#result-submit-btn:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease;
    border: 1px solid #f4f4f4;
}
@media screen and (max-width: 867px) {
    .result-form-content {
        flex-direction: column;
        justify-content: unset;
    }
}
.results-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.results-table-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.results-table-nav h1 {
    font-size: 1em;
}
.results-table-nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.results-table-nav button i {
    color: #f4f4f4;
    font-size: 1em;
}
.results-table-container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
}
.results-table-container th, .results-table-container td {
    text-align: left;
    padding: 8px;
    font-weight: 500;
}
.results-table-container th {
    background-color: #d80032;
    color: #f4f4f4;
    font-weight: 700;
}
.results-table-container tr:nth-child(even) {
    background-color: #d80032;
}
.results-table-container tr:nth-child(odd) {
    background-color: #ef233c;
}
.view-all-results-nav a:hover {
    background-color: #ef233c;
}

/* Update Disclaimers */

.update-disclaimer-wrapper {
    background-color: #d80032;
    padding: 1% 3%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.update-disclaimer-content {
    display: flex;
    flex-direction: column;
}
.update-disclaimer-content p:first-child {
    font-size: 1.2em;
    font-weight: 700;
}
.update-disclaimer-content p:last-child {
    font-size: 1em;
    font-weight: 600;
}
.update-disclaimer-content p i {
    padding-right: 5px;
}

/* Miscellaneous */

.actions {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}